{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexalware API",
    "version": "1.0.0",
    "description": "Nexalware is infrastructure for AI agents, and the software you write yourself, to act in the physical world. This is the HTTP API behind it: control physical devices and read their telemetry. Endpoints are grouped by who can call them: \"Authentication\" logs an existing account in and returns a session token; \"Device Control\" and \"Schedules\" work with an API key (scoped by a DeviceGrant); everything else manages dashboard resources (rules, grants, keys, devices, command catalogs) and is meant for the Nexalware web app itself, not third-party automation."
  },
  "servers": [
    {
      "url": "https://api.nexalware.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "A secret API key created on the dashboard (API Keys page). By itself it grants nothing - it must also have a DeviceGrant scoping it to the specific device(s) and command(s) it may call."
      },
      "sessionAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A session token for an existing account, obtained from POST /auth/login (see the Authentication endpoints) - not an API key. Endpoints marked with this scheme reject API key callers outright, regardless of what that key is granted. Outside the Authentication endpoints themselves, everything requiring this scheme manages dashboard resources (rules, grants, keys, device configuration, command catalogs) and mirrors what a human does in the Nexalware web app - it is not meant to be automated by a third-party integration the way the Device Control and Schedules endpoints are."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "FORBIDDEN"
          },
          "message": {
            "type": "string",
            "example": "Human-readable detail, when present."
          },
          "details": {
            "type": "array",
            "items": {},
            "description": "Present only on request-body validation failures (400 Validation error)."
          }
        },
        "required": [
          "error"
        ]
      },
      "DeviceId": {
        "type": "string",
        "example": "dev_a1b2c3"
      },
      "AuthUser": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "onboardingCompleted": {
            "type": "boolean"
          }
        },
        "required": [
          "accountId",
          "userId",
          "email",
          "name",
          "plan",
          "role",
          "emailVerified",
          "onboardingCompleted"
        ]
      },
      "TokenPair": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "Short-lived (15 min). Send as `Authorization: Bearer <accessToken>`."
          },
          "refreshToken": {
            "type": "string",
            "description": "Long-lived (30 days). Exchange it for a new pair at /auth/refresh instead of asking the user to log in again."
          },
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "user"
        ]
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "LogoutRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "boardType": {
            "type": "string"
          },
          "appType": {
            "type": "string"
          },
          "deviceStatus": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "DISABLED",
              "REVOKED"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "deviceTypeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "relayState": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "isOnline": {
            "type": "boolean"
          },
          "lastSeen": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "deviceId",
          "name",
          "boardType",
          "appType",
          "deviceStatus",
          "enabled",
          "deviceTypeId",
          "relayState",
          "isOnline",
          "lastSeen",
          "createdAt"
        ]
      },
      "CommandDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "FORWARD"
          },
          "label": {
            "type": "string",
            "example": "Drive forward"
          },
          "kind": {
            "type": "string",
            "enum": [
              "ACTION",
              "QUERY"
            ]
          },
          "paramsSchema": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "JSON Schema for this command's params, or null if it takes none."
          }
        },
        "required": [
          "name",
          "label",
          "kind",
          "paramsSchema"
        ]
      },
      "TelemetryReading": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "example": "temperature"
          },
          "value": {
            "type": [
              "number",
              "null"
            ],
            "description": "Numeric reading, null if this point only carried valueText.",
            "example": 21.4
          },
          "valueText": {
            "type": [
              "string",
              "null"
            ],
            "description": "Non-numeric reading (e.g. a status string), null if this point only carried a numeric value.",
            "example": null
          },
          "unit": {
            "type": [
              "string",
              "null"
            ],
            "example": "celsius"
          },
          "recordedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "metric",
          "value",
          "recordedAt"
        ]
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "disabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "description"
        ]
      },
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Action": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "description": "A command name from the device's catalog.",
            "example": "ON"
          },
          "params": {
            "description": "Only if that command declares a paramsSchema."
          }
        },
        "required": [
          "command"
        ]
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "string",
            "example": "sched_a1b2c3"
          },
          "deviceId": {
            "type": "string"
          },
          "slot": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4
          },
          "onTs": {
            "type": "integer",
            "description": "Unix seconds.",
            "example": 1732003600
          },
          "offTs": {
            "type": "integer",
            "description": "Unix seconds.",
            "example": 1732032400
          },
          "label": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "COMPLETED",
              "CANCELLED"
            ],
            "description": "PENDING = created, not yet due. ACTIVE = onTs has passed, offTs has not. COMPLETED = offTs has passed. CANCELLED = deleted before completing."
          },
          "onCommand": {
            "$ref": "#/components/schemas/Action"
          },
          "offCommand": {
            "$ref": "#/components/schemas/Action"
          }
        },
        "required": [
          "scheduleId",
          "deviceId",
          "slot",
          "onTs",
          "offTs",
          "label",
          "enabled",
          "status",
          "onCommand",
          "offCommand"
        ]
      },
      "Rule": {
        "type": "object",
        "properties": {
          "ruleId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "priority": {
            "type": "integer"
          },
          "conditions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "metric": {
                  "type": "string",
                  "description": "A telemetry metric this device has reported - see GET .../rules/context for the actual list.",
                  "example": "temperature"
                },
                "comparator": {
                  "type": "string",
                  "enum": [
                    ">",
                    "<",
                    ">=",
                    "<=",
                    "==",
                    "!="
                  ]
                },
                "value": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "example": 28
                }
              },
              "required": [
                "metric",
                "comparator",
                "value"
              ]
            }
          },
          "action": {
            "type": "object",
            "properties": {
              "command": {
                "type": "string"
              },
              "params": {}
            },
            "required": [
              "command"
            ]
          },
          "lastMatched": {
            "type": "boolean"
          }
        },
        "required": [
          "ruleId",
          "deviceId",
          "name",
          "enabled",
          "priority",
          "conditions",
          "action",
          "lastMatched"
        ]
      },
      "DeviceGrant": {
        "type": "object",
        "properties": {
          "grantId": {
            "type": "string"
          },
          "appliesVia": {
            "type": "string",
            "enum": [
              "device",
              "project",
              "sub_device"
            ]
          },
          "subDevice": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "subDeviceId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "subDeviceId",
              "name"
            ]
          },
          "commands": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scope": {
            "type": "string",
            "enum": [
              "READ",
              "WRITE",
              "FULL"
            ]
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "activeDays": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "activeFromMinute": {
            "type": [
              "integer",
              "null"
            ]
          },
          "activeToMinute": {
            "type": [
              "integer",
              "null"
            ]
          },
          "rateLimitPerMinute": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "apikey",
                  "member"
                ]
              }
            },
            "required": [
              "type"
            ]
          }
        },
        "required": [
          "grantId",
          "appliesVia",
          "subDevice",
          "commands",
          "scope",
          "expiresAt",
          "activeDays",
          "activeFromMinute",
          "activeToMinute",
          "rateLimitPerMinute",
          "createdAt",
          "subject"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "keyId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "SECRET"
            ]
          },
          "prefix": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "keyId",
          "name",
          "type",
          "prefix",
          "enabled",
          "lastUsedAt",
          "createdAt"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "webhookId": {
            "type": "string"
          },
          "keyId": {
            "type": "string",
            "minLength": 1,
            "description": "An existing, enabled API key's keyId - the exact same value GET /api/v1/keys returns for that key, not the raw secret value. The webhook inherits exactly what that key's DeviceGrants already cover; there's no separate scope to set here.",
            "example": "key_x1y2z3"
          },
          "url": {
            "type": "string"
          },
          "secretPrefix": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "webhookId",
          "keyId",
          "url",
          "secretPrefix",
          "enabled",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateWebhookBody": {
        "type": "object",
        "properties": {
          "keyId": {
            "type": "string",
            "minLength": 1,
            "description": "An existing, enabled API key's keyId - the exact same value GET /api/v1/keys returns for that key, not the raw secret value. The webhook inherits exactly what that key's DeviceGrants already cover; there's no separate scope to set here.",
            "example": "key_x1y2z3"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Must use https:// - plain http:// is rejected. Nexalware POSTs every event visible to keyId here.",
            "example": "https://your-server.com/webhooks/nexalware"
          }
        },
        "required": [
          "keyId",
          "url"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "deliveryId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "deviceId": {
            "type": [
              "string",
              "null"
            ]
          },
          "attempt": {
            "type": "integer"
          },
          "statusCode": {
            "type": [
              "integer",
              "null"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "succeeded": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "deliveryId",
          "eventType",
          "deviceId",
          "attempt",
          "statusCode",
          "error",
          "succeeded",
          "createdAt"
        ]
      },
      "DeviceEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "deviceName": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "description": "e.g. DEVICE_ONLINE, DEVICE_OFFLINE, RELAY_ON, RELAY_OFF, COMMAND_SENT, UNAUTHORIZED_ATTEMPT, SCHEDULE_CANCELLED.",
            "example": "COMMAND_SENT"
          },
          "description": {
            "type": "string",
            "example": "Command sent to Garage Light"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix milliseconds.",
            "example": 1732000000000
          },
          "source": {
            "type": "string",
            "description": "What triggered this event, lowercased: \"schedule\", \"user\" (a dashboard session or API key), \"device\", \"system\", or \"rule\".",
            "example": "user"
          }
        },
        "required": [
          "id",
          "deviceId",
          "deviceName",
          "eventType",
          "description",
          "timestamp",
          "source"
        ]
      },
      "CommandApproval": {
        "type": "object",
        "properties": {
          "approvalId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "cmd": {
            "type": "string"
          },
          "params": {},
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "APPROVED",
              "DENIED",
              "EXPIRED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "approvalId",
          "deviceId",
          "cmd",
          "status",
          "createdAt",
          "expiresAt"
        ]
      },
      "SubDevice": {
        "type": "object",
        "properties": {
          "subDeviceId": {
            "type": "string"
          },
          "externalId": {
            "type": "string",
            "description": "Whatever identifier the master itself assigns or discovers this sub-device by - the master's own concern, not Nexalware's."
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "capabilities": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "commands": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "params_schema": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              },
              "telemetry_metrics": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "verifiable": {
                "type": "boolean"
              }
            },
            "description": "Whatever this sub-device's own `describe()` reported - Nexalware never assumes a shape in advance."
          },
          "verifiable": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "isOnline": {
            "type": "boolean"
          },
          "lastSeen": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "subDeviceId",
          "externalId",
          "name",
          "state",
          "capabilities",
          "verifiable",
          "enabled",
          "isOnline",
          "lastSeen",
          "createdAt"
        ]
      }
    },
    "parameters": {
      "DeviceId": {
        "schema": {
          "$ref": "#/components/schemas/DeviceId"
        },
        "required": true,
        "name": "deviceId",
        "in": "path"
      }
    }
  },
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Log in and obtain a session token",
        "description": "Exchanges an existing account's email/password for a token pair. This is how a third-party client (your own app, a custom login screen, a CLI) authenticates a user directly, without going through the Nexalware dashboard UI. Creating a *new* account is dashboard-only (nexalware.com/sign-up) and is not exposed here - this endpoint only signs in an account that already exists.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              },
              "example": {
                "email": "you@example.com",
                "password": "your-password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPair"
                },
                "example": {
                  "accessToken": "eyJhbGciOi...",
                  "refreshToken": "eyJhbGciOi...",
                  "user": {
                    "accountId": "acc_a1b2c3",
                    "userId": "usr_a1b2c3",
                    "email": "you@example.com",
                    "name": "Jane Doe",
                    "plan": "FREE",
                    "role": "OWNER",
                    "emailVerified": true,
                    "onboardingCompleted": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange a refresh token for a new session",
        "description": "Call this when the access token expires (every 15 minutes) rather than asking the user to log in again. The refresh token itself rotates on every use - store the new one.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              },
              "example": {
                "refreshToken": "eyJhbGciOi..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "accessToken",
                    "refreshToken"
                  ]
                },
                "example": {
                  "accessToken": "eyJhbGciOi...",
                  "refreshToken": "eyJhbGciOi..."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke a refresh token",
        "description": "Invalidates the given refresh token so it can no longer be exchanged for new sessions. The current access token stays valid until its own 15-minute expiry - this only prevents renewing it.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get the logged-in user and account",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "emailVerified": {
                      "type": "boolean"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "accountName": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "string"
                    },
                    "role": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "deviceCount": {
                      "type": "number"
                    },
                    "hasPassword": {
                      "type": "boolean"
                    },
                    "hasGoogleAuth": {
                      "type": "boolean"
                    },
                    "hasGithubAuth": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "userId",
                    "email",
                    "name",
                    "emailVerified",
                    "accountId",
                    "accountName",
                    "plan",
                    "role",
                    "deviceCount",
                    "hasPassword",
                    "hasGoogleAuth",
                    "hasGithubAuth"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password/request-otp": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request a one-time code to change your password",
        "description": "Emails a 6-digit code to the logged-in user, valid briefly. Submit it to `/auth/change-password` along with the new password. Requires an existing session (log in first) and an Admin or Owner role - a Member/Viewer session gets a 403 here.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - check your email",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A code was already sent recently",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "OTP_COOLDOWN"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "retryAfter"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/change-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Change your password",
        "description": "Finishes the flow started by `/auth/password/request-otp` - same session and role requirement applies. This changes the password for the currently logged-in user; it is not a \"forgot password while logged out\" flow.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "otp",
                  "newPassword"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List devices",
        "description": "A dashboard session sees every device on the account. An API key only sees devices its own DeviceGrants actually cover (a direct device grant, or a project-level grant covering everything in that project) - the same scoping every command call is checked against, applied here too so a key never enumerates devices it has no access to. This is the right first call for an agent (SDK or the MCP server's `list_devices` tool) to make: discover which devices this key can act on before calling anything else.",
        "security": [
          {
            "sessionAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/register": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Register a new device",
        "description": "Creates the device record in a PENDING state with no MQTT credentials yet call \"Generate credentials\" separately before it can connect. This is a dashboard/session action, a human registering a device, not something an API key does.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Shown on the dashboard and in device lists.",
                    "example": "Garage Light"
                  },
                  "boardType": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Free text - whatever board this is, e.g. \"esp32\", \"esp8266\", \"raspberry-pi\". Not validated against a fixed list; see GET /catalog/boards for common values to offer in a picker.",
                    "example": "esp32"
                  },
                  "appType": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Free text - the application/industry this device is used for. See GET /catalog/apps for common values to offer in a picker.",
                    "example": "Industrial Automation"
                  },
                  "appTypeOther": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Only used when appType is \"Custom\" - the free-text value to show instead."
                  },
                  "projectId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Groups this device under an existing project. Omit to leave it ungrouped, or to fall back to the account's default project if one exists.",
                    "example": "proj_a1b2c3"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Controls the light above the garage door."
                  },
                  "location": {
                    "type": "string",
                    "maxLength": 200,
                    "example": "Garage"
                  },
                  "manufacturer": {
                    "type": "string",
                    "maxLength": 100,
                    "example": "Espressif"
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 100,
                    "example": "ESP32-WROOM-32"
                  },
                  "industry": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "Home Automation"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "maxItems": 20,
                    "example": [
                      "garage",
                      "lighting"
                    ]
                  }
                },
                "required": [
                  "name",
                  "boardType",
                  "appType"
                ]
              },
              "example": {
                "name": "Garage Light",
                "boardType": "esp32",
                "appType": "Home Automation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deviceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "deviceId"
                  ]
                },
                "example": {
                  "deviceId": "nxw_dev_a1b2c3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get a device",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Update a device",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "example": "Garage Light"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Move this device into a different project.",
                    "example": "proj_a1b2c3"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 500
                  },
                  "location": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 200
                  },
                  "manufacturer": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  },
                  "model": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  },
                  "industry": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 50
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "maxItems": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete a device",
        "description": "Also deletes its schedules, rules, grants, telemetry, and approval history.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/commands": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "Get a device's command catalog",
        "description": "The commands this specific device supports right now what a control UI or an AI agent should present as its available actions. Devices with no custom DeviceType return the legacy ON/OFF/TOGGLE/STATUS set.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandDefinition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Define a custom command for a device",
        "description": "Adds one command to this device's catalog (creating the catalog on first use). Once defined, any caller with a DeviceGrant covering this device can send it via POST /devices/{deviceId}/command.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "pattern": "^[A-Z0-9_]+$",
                    "description": "The exact string clients will pass as `cmd` when sending this command. SCREAMING_SNAKE_CASE, must be unique per device type.",
                    "example": "SET_BRIGHTNESS"
                  },
                  "label": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Human-readable label shown on the dashboard.",
                    "example": "Set brightness"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Sets the light to a specific brightness level."
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "ACTION",
                      "QUERY"
                    ],
                    "default": "ACTION",
                    "description": "\"ACTION\" changes device state (e.g. turning something on). \"QUERY\" only reads it. Rules and schedules can only use ACTION commands."
                  },
                  "paramsSchema": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {},
                    "description": "A JSON Schema describing what `params` a caller must send with this command. Leave null/omitted for a command that takes no arguments.",
                    "example": {
                      "type": "object",
                      "properties": {
                        "level": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        }
                      }
                    }
                  },
                  "shape": {
                    "type": "string",
                    "enum": [
                      "BUTTON",
                      "TOGGLE",
                      "NUMBER",
                      "SELECT",
                      "MULTI"
                    ],
                    "default": "BUTTON",
                    "description": "How the dashboard renders this command as a control, purely cosmetic, has no effect on validation."
                  },
                  "requiresApproval": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, calling this command never executes immediately, it always creates a pending approval (202 response) for an Owner/Admin to confirm first. Also means it can never be used in a rule or schedule, both fire unattended."
                  }
                },
                "required": [
                  "name",
                  "label"
                ]
              },
              "example": {
                "name": "SET_BRIGHTNESS",
                "label": "Set brightness",
                "kind": "ACTION",
                "paramsSchema": {
                  "type": "object",
                  "properties": {
                    "level": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    }
                  }
                },
                "shape": "NUMBER",
                "requiresApproval": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "commandId": {
                      "type": "string",
                      "example": "cmd_x1y2z3"
                    }
                  },
                  "required": [
                    "commandId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/commands/{commandId}": {
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Update a device's custom command",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          },
          {
            "schema": {
              "type": "string",
              "example": "cmd_x1y2z3"
            },
            "required": true,
            "name": "commandId",
            "in": "path",
            "example": "cmd_x1y2z3"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "pattern": "^[A-Z0-9_]+$",
                    "description": "The exact string clients will pass as `cmd` when sending this command. SCREAMING_SNAKE_CASE, must be unique per device type.",
                    "example": "SET_BRIGHTNESS"
                  },
                  "label": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Human-readable label shown on the dashboard.",
                    "example": "Set brightness"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Sets the light to a specific brightness level."
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "ACTION",
                      "QUERY"
                    ],
                    "default": "ACTION",
                    "description": "\"ACTION\" changes device state (e.g. turning something on). \"QUERY\" only reads it. Rules and schedules can only use ACTION commands."
                  },
                  "paramsSchema": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {},
                    "description": "A JSON Schema describing what `params` a caller must send with this command. Leave null/omitted for a command that takes no arguments.",
                    "example": {
                      "type": "object",
                      "properties": {
                        "level": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        }
                      }
                    }
                  },
                  "shape": {
                    "type": "string",
                    "enum": [
                      "BUTTON",
                      "TOGGLE",
                      "NUMBER",
                      "SELECT",
                      "MULTI"
                    ],
                    "default": "BUTTON",
                    "description": "How the dashboard renders this command as a control, purely cosmetic, has no effect on validation."
                  },
                  "requiresApproval": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, calling this command never executes immediately, it always creates a pending approval (202 response) for an Owner/Admin to confirm first. Also means it can never be used in a rule or schedule, both fire unattended."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Remove a device's custom command",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          },
          {
            "schema": {
              "type": "string",
              "example": "cmd_x1y2z3"
            },
            "required": true,
            "name": "commandId",
            "in": "path",
            "example": "cmd_x1y2z3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/command": {
      "post": {
        "tags": [
          "Device Control"
        ],
        "summary": "Send a command to a device",
        "description": "The general-purpose command endpoint - validates the command and its params against the device's catalog, checks the caller's DeviceGrant, then either publishes it over MQTT immediately or (for a command marked `requiresApproval`) creates a pending approval instead of executing it. An API key needs a DeviceGrant covering this device and this command name - see the Authentication & Access guide.\n\n**How to use this:** first call `GET /devices/{deviceId}/commands` to see exactly which `cmd` values this device accepts and what `params` (if any) each one expects, then send one of those `cmd` names here. A plain relay with no custom command catalog accepts `\"ON\"`, `\"OFF\"`, `\"TOGGLE\"`, and `\"STATUS\"` with no `params` at all.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cmd": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "A command name from this device's catalog - see GET /devices/{deviceId}/commands for the exact names this specific device accepts. Devices with no custom command catalog accept the legacy \"ON\"/\"OFF\"/\"TOGGLE\"/\"STATUS\" set.",
                    "example": "ON"
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Only include this if the command you're sending declares a paramsSchema in its catalog entry (e.g. SET_BRIGHTNESS might expect { \"level\": 60 }). Omit entirely for a command that takes no arguments, like plain ON/OFF.",
                    "example": {
                      "level": 60
                    }
                  },
                  "queuedAt": {
                    "type": "number",
                    "description": "Unix milliseconds. Optional - set this if your own app queued this command locally (e.g. while offline) before actually sending it, so Nexalware can reject it with COMMAND_EXPIRED if it sat for more than 5 minutes, instead of firing a stale command late. Omit it for a command sent immediately - it is never required.",
                    "example": 1732000000000
                  },
                  "target": {
                    "type": "string",
                    "description": "Only set this if this device is a \"master\" orchestrating other physical devices locally (see the Device Orchestration docs) and you want to command one specific sub-device instead of the master itself. Omit for a normal command aimed at this device.",
                    "example": "sub_x1y2z3"
                  }
                },
                "required": [
                  "cmd"
                ]
              },
              "examples": {
                "Simple command, no params": {
                  "value": {
                    "cmd": "ON"
                  }
                },
                "Command with params": {
                  "value": {
                    "cmd": "SET_BRIGHTNESS",
                    "params": {
                      "level": 60
                    }
                  }
                },
                "Command aimed at a sub-device behind this device": {
                  "value": {
                    "cmd": "OPEN",
                    "target": "sub_x1y2z3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Command requires approval - pending an Owner/Admin decision, not yet sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "approvalRequired": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "approvalId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "approvalRequired",
                    "approvalId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/command/on": {
      "post": {
        "tags": [
          "Device Control"
        ],
        "summary": "Shorthand for sending the ON command",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/command/off": {
      "post": {
        "tags": [
          "Device Control"
        ],
        "summary": "Shorthand for sending the OFF command",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/nl-command": {
      "post": {
        "tags": [
          "Device Control"
        ],
        "summary": "Interpret free text into a command and send it",
        "description": "Runs `text` against this device's (or, with `target` set, a sub-device's) own command catalog through an LLM, then dispatches whatever command it resolves through the exact same path `POST .../command` uses - same DeviceGrant check, same approval flow, same everything. If the text doesn't clearly resolve to one catalog command, nothing is sent - the response comes back with `ok: false` and a `reply` you can show the caller instead. Meant for building a chat-style interface on top of the API; the strict/structured way to send a command is still `POST .../command`.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "description": "Free-text instruction, interpreted against this device's (or sub-device's, if target is set) own command catalog. Not guaranteed to resolve - see the response's \"reply\" and \"interpreted\" fields.",
                    "example": "turn the porch light on and dim it to half"
                  },
                  "target": {
                    "type": "string",
                    "description": "A sub-device ID behind this device to interpret and dispatch against instead of the device itself.",
                    "example": "sub_x1y2z3"
                  }
                },
                "required": [
                  "text"
                ]
              },
              "examples": {
                "Plain instruction": {
                  "value": {
                    "text": "turn the porch light on"
                  }
                },
                "Aimed at a sub-device": {
                  "value": {
                    "text": "open the garage door",
                    "target": "sub_x1y2z3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Either the command was sent, or nothing matched clearly enough to act on",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "reply": {
                      "type": "string",
                      "description": "A short natural-language message to show the user."
                    },
                    "interpreted": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "cmd": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "params": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {}
                        },
                        "confidence": {
                          "type": "string",
                          "enum": [
                            "high",
                            "low"
                          ]
                        }
                      },
                      "required": [
                        "cmd",
                        "params",
                        "confidence"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "reply",
                    "interpreted"
                  ]
                },
                "examples": {
                  "Sent": {
                    "value": {
                      "ok": true,
                      "reply": "Turning the porch light on.",
                      "interpreted": {
                        "cmd": "ON",
                        "params": null,
                        "confidence": "high"
                      }
                    }
                  },
                  "Nothing matched": {
                    "value": {
                      "ok": false,
                      "reply": "I couldn't find a command for that on this device.",
                      "interpreted": {
                        "cmd": null,
                        "params": null,
                        "confidence": "low"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "The NLP provider is unreachable or not configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/revoke": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Revoke a device's credentials",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "deviceStatus": {
                      "type": "string",
                      "enum": [
                        "REVOKED"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "deviceStatus"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/credentials": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Generate MQTT credentials for a device",
        "description": "Firmware-facing credentials for connecting to the MQTT broker - not the same thing as an API key. The password is shown once and is not recoverable afterward; use \"Reveal credentials\" only re-shows what was already generated.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, save the password now, it will not be shown again in this form",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mqttUsername": {
                      "type": "string"
                    },
                    "mqttPassword": {
                      "type": "string"
                    },
                    "mqttHost": {
                      "type": "string"
                    },
                    "mqttPort": {
                      "type": "number"
                    },
                    "wsPort": {
                      "type": "number"
                    },
                    "configBlock": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "mqttUsername",
                    "mqttPassword",
                    "mqttHost",
                    "mqttPort",
                    "wsPort",
                    "configBlock"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/credentials/reveal": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Re-show a device's existing MQTT credentials",
        "description": "Step-up protected - requires re-confirming your account password. Every call is written to the device's audit log.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mqttUsername": {
                      "type": "string"
                    },
                    "mqttPassword": {
                      "type": "string"
                    },
                    "mqttHost": {
                      "type": "string"
                    },
                    "mqttPort": {
                      "type": "number"
                    },
                    "wsPort": {
                      "type": "number"
                    },
                    "configBlock": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "mqttUsername",
                    "mqttPassword",
                    "mqttHost",
                    "mqttPort",
                    "wsPort",
                    "configBlock"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/config": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get firmware config block",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "configBlock": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "configBlock",
                    "note"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/toggle": {
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Enable or disable a device",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "deviceStatus": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "enabled",
                    "deviceStatus"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/telemetry": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "Read a device's telemetry history",
        "description": "Time-series readings this device has reported, newest first, what an AI agent needs to learn patterns rather than only react to the latest value.\n\n**Example:** `GET /devices/dev_a1b2c3/telemetry?metric=temperature&limit=50` returns the last 50 temperature readings. Omit `metric` to get every metric this device reports, mixed together in one list.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          },
          {
            "schema": {
              "type": "string",
              "description": "Only return readings for this metric name, omit to get every metric this device reports.",
              "example": "temperature"
            },
            "required": false,
            "name": "metric",
            "in": "query",
            "example": "temperature"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "description": "Max rows to return, 1-1000. Defaults to 100.",
              "example": 50
            },
            "required": false,
            "name": "limit",
            "in": "query",
            "example": 50
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "description": "Unix milliseconds - only return readings recorded at or after this time. Omit for no lower bound.",
              "example": 1732000000000
            },
            "required": false,
            "name": "since",
            "in": "query",
            "example": 1732000000000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelemetryReading"
                  }
                },
                "example": [
                  {
                    "metric": "temperature",
                    "value": 21.4,
                    "valueText": null,
                    "unit": "celsius",
                    "recordedAt": "2024-11-19T10:00:00.000Z"
                  },
                  {
                    "metric": "temperature",
                    "value": 21.6,
                    "valueText": null,
                    "unit": "celsius",
                    "recordedAt": "2024-11-19T10:05:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/telemetry/latest": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "Read the most recent value per telemetry metric",
        "description": "The quickest \"current state\" snapshot - one row per metric this device has ever reported, plus its relay state. Use this instead of `/telemetry` when you just need \"what is this device's situation right now\", not history.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "description": "The device's free-form current-state snapshot, whatever shape its firmware last published, or null if it never has."
                    },
                    "relayState": {
                      "type": [
                        "boolean",
                        "null"
                      ],
                      "description": "Legacy ON/OFF relay state, null for devices that don't use the simple relay model."
                    },
                    "telemetry": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TelemetryReading"
                      }
                    }
                  },
                  "required": [
                    "relayState",
                    "telemetry"
                  ]
                },
                "example": {
                  "state": {
                    "relay": "ON",
                    "brightness": 80
                  },
                  "relayState": true,
                  "telemetry": [
                    {
                      "metric": "temperature",
                      "value": 21.4,
                      "valueText": null,
                      "unit": "celsius",
                      "recordedAt": "2024-11-19T10:05:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/boards": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "List supported hardware boards",
[...]
