{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexalware API",
    "version": "1.0.0",
    "description": "Nexalware is infrastructure for AI agents, and the software you write yourself, to act in the physical world. This is the HTTP API behind it: control physical devices and read their telemetry. Endpoints are grouped by who can call them: \"Authentication\" logs an existing account in and returns a session token; \"Device Control\" works with an API key (scoped by a DeviceGrant); everything else manages dashboard resources (schedules, rules, grants, keys, devices) and is meant for the Nexalware web app itself, not third-party automation."
  },
  "servers": [
    {
      "url": "https://api.nexalware.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "A secret API key created on the dashboard (Settings → API Keys). By itself it grants nothing - it must also have a DeviceGrant scoping it to the specific device(s) and command(s) it may call."
      },
      "sessionAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A session token for an existing account, obtained from POST /auth/login (see the Authentication endpoints) - not an API key. Endpoints marked with this scheme reject API key callers outright, regardless of what that key is granted. Outside the Authentication endpoints themselves, everything requiring this scheme manages dashboard resources (schedules, rules, grants, keys, device configuration) and mirrors what a human does in the Nexalware web app - it is not meant to be automated by a third-party integration the way the Device Control endpoints are."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "FORBIDDEN"
          },
          "message": {
            "type": "string",
            "example": "Human-readable detail, when present."
          },
          "details": {
            "type": "array",
            "items": {},
            "description": "Present only on request-body validation failures (400 Validation error)."
          }
        },
        "required": [
          "error"
        ]
      },
      "DeviceId": {
        "type": "string",
        "example": "dev_a1b2c3"
      },
      "AuthUser": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "onboardingCompleted": {
            "type": "boolean"
          }
        },
        "required": [
          "accountId",
          "userId",
          "email",
          "name",
          "plan",
          "role",
          "emailVerified",
          "onboardingCompleted"
        ]
      },
      "TokenPair": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "Short-lived (15 min). Send as `Authorization: Bearer <accessToken>`."
          },
          "refreshToken": {
            "type": "string",
            "description": "Long-lived (30 days). Exchange it for a new pair at /auth/refresh instead of asking the user to log in again."
          },
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "user"
        ]
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "LogoutRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "boardType": {
            "type": "string"
          },
          "appType": {
            "type": "string"
          },
          "deviceStatus": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "DISABLED",
              "REVOKED"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "deviceTypeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "relayState": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "isOnline": {
            "type": "boolean"
          },
          "lastSeen": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "deviceId",
          "name",
          "boardType",
          "appType",
          "deviceStatus",
          "enabled",
          "deviceTypeId",
          "relayState",
          "isOnline",
          "lastSeen",
          "createdAt"
        ]
      },
      "CommandDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "FORWARD"
          },
          "label": {
            "type": "string",
            "example": "Drive forward"
          },
          "kind": {
            "type": "string",
            "enum": [
              "ACTION",
              "QUERY"
            ]
          },
          "paramsSchema": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "JSON Schema for this command's params, or null if it takes none."
          }
        },
        "required": [
          "name",
          "label",
          "kind",
          "paramsSchema"
        ]
      },
      "TelemetryReading": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "example": "temperature"
          },
          "value": {
            "type": "number"
          },
          "recordedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "metric",
          "value",
          "recordedAt"
        ]
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "disabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "description"
        ]
      },
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Action": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string"
          },
          "params": {}
        },
        "required": [
          "command"
        ]
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "slot": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4
          },
          "onTs": {
            "type": "integer"
          },
          "offTs": {
            "type": "integer"
          },
          "label": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "COMPLETED",
              "CANCELLED"
            ]
          },
          "onCommand": {
            "$ref": "#/components/schemas/Action"
          },
          "offCommand": {
            "$ref": "#/components/schemas/Action"
          }
        },
        "required": [
          "scheduleId",
          "deviceId",
          "slot",
          "onTs",
          "offTs",
          "label",
          "enabled",
          "status",
          "onCommand",
          "offCommand"
        ]
      },
      "Rule": {
        "type": "object",
        "properties": {
          "ruleId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "priority": {
            "type": "integer"
          },
          "conditions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "metric": {
                  "type": "string"
                },
                "comparator": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              },
              "required": [
                "metric",
                "comparator",
                "value"
              ]
            }
          },
          "action": {
            "type": "object",
            "properties": {
              "command": {
                "type": "string"
              },
              "params": {}
            },
            "required": [
              "command"
            ]
          },
          "lastMatched": {
            "type": "boolean"
          }
        },
        "required": [
          "ruleId",
          "deviceId",
          "name",
          "enabled",
          "priority",
          "conditions",
          "action",
          "lastMatched"
        ]
      },
      "DeviceGrant": {
        "type": "object",
        "properties": {
          "grantId": {
            "type": "string"
          },
          "appliesVia": {
            "type": "string",
            "enum": [
              "device",
              "project"
            ]
          },
          "commands": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scope": {
            "type": "string",
            "enum": [
              "READ",
              "WRITE",
              "FULL"
            ]
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "activeDays": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "activeFromMinute": {
            "type": [
              "integer",
              "null"
            ]
          },
          "activeToMinute": {
            "type": [
              "integer",
              "null"
            ]
          },
          "rateLimitPerMinute": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "apikey",
                  "member"
                ]
              }
            },
            "required": [
              "type"
            ]
          }
        },
        "required": [
          "grantId",
          "appliesVia",
          "commands",
          "scope",
          "expiresAt",
          "activeDays",
          "activeFromMinute",
          "activeToMinute",
          "rateLimitPerMinute",
          "createdAt",
          "subject"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "keyId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "SECRET"
            ]
          },
          "prefix": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "keyId",
          "name",
          "type",
          "prefix",
          "enabled",
          "lastUsedAt",
          "createdAt"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "webhookId": {
            "type": "string"
          },
          "keyId": {
            "type": "string",
            "minLength": 1,
            "description": "An existing, enabled API key's keyId - the exact same value GET /api/v1/keys returns for that key, not the raw secret value. The webhook inherits exactly what that key's DeviceGrants already cover; there's no separate scope to set here.",
            "example": "key_x1y2z3"
          },
          "url": {
            "type": "string"
          },
          "secretPrefix": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "webhookId",
          "keyId",
          "url",
          "secretPrefix",
          "enabled",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateWebhookBody": {
        "type": "object",
        "properties": {
          "keyId": {
            "type": "string",
            "minLength": 1,
            "description": "An existing, enabled API key's keyId - the exact same value GET /api/v1/keys returns for that key, not the raw secret value. The webhook inherits exactly what that key's DeviceGrants already cover; there's no separate scope to set here.",
            "example": "key_x1y2z3"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Must use https:// - plain http:// is rejected. Nexalware POSTs every event visible to keyId here.",
            "example": "https://your-server.com/webhooks/nexalware"
          }
        },
        "required": [
          "keyId",
          "url"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "deliveryId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "deviceId": {
            "type": [
              "string",
              "null"
            ]
          },
          "attempt": {
            "type": "integer"
          },
          "statusCode": {
            "type": [
              "integer",
              "null"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "succeeded": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "deliveryId",
          "eventType",
          "deviceId",
          "attempt",
          "statusCode",
          "error",
          "succeeded",
          "createdAt"
        ]
      },
      "DeviceEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "deviceName": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "deviceId",
          "deviceName",
          "eventType",
          "description",
          "timestamp",
          "source"
        ]
      },
      "CommandApproval": {
        "type": "object",
        "properties": {
          "approvalId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "cmd": {
            "type": "string"
          },
          "params": {},
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "APPROVED",
              "DENIED",
              "EXPIRED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "approvalId",
          "deviceId",
          "cmd",
          "status",
          "createdAt",
          "expiresAt"
        ]
      }
    },
    "parameters": {
      "DeviceId": {
        "schema": {
          "$ref": "#/components/schemas/DeviceId"
        },
        "required": true,
        "name": "deviceId",
        "in": "path"
      }
    }
  },
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Log in and obtain a session token",
        "description": "Exchanges an existing account's email/password for a token pair. This is how a third-party client (your own app, a custom login screen, a CLI) authenticates a user directly, without going through the Nexalware dashboard UI. Creating a *new* account is dashboard-only (nexalware.com/sign-up) and is not exposed here - this endpoint only signs in an account that already exists.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPair"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange a refresh token for a new session",
        "description": "Call this when the access token expires (every 15 minutes) rather than asking the user to log in again. The refresh token itself rotates on every use - store the new one.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "accessToken",
                    "refreshToken"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke a refresh token",
        "description": "Invalidates the given refresh token so it can no longer be exchanged for new sessions. The current access token stays valid until its own 15-minute expiry - this only prevents renewing it.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get the logged-in user and account",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "emailVerified": {
                      "type": "boolean"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "accountName": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "string"
                    },
                    "role": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "deviceCount": {
                      "type": "number"
                    },
                    "hasPassword": {
                      "type": "boolean"
                    },
                    "hasGoogleAuth": {
                      "type": "boolean"
                    },
                    "hasGithubAuth": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "userId",
                    "email",
                    "name",
                    "emailVerified",
                    "accountId",
                    "accountName",
                    "plan",
                    "role",
                    "deviceCount",
                    "hasPassword",
                    "hasGoogleAuth",
                    "hasGithubAuth"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password/request-otp": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request a one-time code to change your password",
        "description": "Emails a 6-digit code to the logged-in user, valid briefly. Submit it to `/auth/change-password` along with the new password. Requires an existing session (log in first) and an Admin or Owner role - a Member/Viewer session gets a 403 here.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK - check your email",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A code was already sent recently",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "OTP_COOLDOWN"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "retryAfter"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/change-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Change your password",
        "description": "Finishes the flow started by `/auth/password/request-otp` - same session and role requirement applies. This changes the password for the currently logged-in user; it is not a \"forgot password while logged out\" flow.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "otp",
                  "newPassword"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List devices in your account",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/register": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Register a new device",
        "description": "Creates the device record in a PENDING state with no MQTT credentials yet call \"Generate credentials\" separately before it can connect.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "boardType": {
                    "type": "string",
                    "minLength": 1
                  },
                  "appType": {
                    "type": "string",
                    "minLength": 1
                  },
                  "appTypeOther": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "projectId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "location": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "manufacturer": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "industry": {
                    "type": "string",
                    "maxLength": 50
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "maxItems": 20
                  }
                },
                "required": [
                  "name",
                  "boardType",
                  "appType"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deviceId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "deviceId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get a device",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Update a device",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 500
                  },
                  "location": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 200
                  },
                  "manufacturer": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  },
                  "model": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  },
                  "industry": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 50
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "maxItems": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete a device",
        "description": "Also deletes its schedules, rules, grants, telemetry, and approval history.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/commands": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "Get a device's command catalog",
        "description": "The commands this specific device supports right now what a control UI or an AI agent should present as its available actions. Devices with no custom DeviceType return the legacy ON/OFF/TOGGLE/STATUS set.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandDefinition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Define a custom command for a device",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "pattern": "^[A-Z0-9_]+$"
                  },
                  "label": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "ACTION",
                      "QUERY"
                    ],
                    "default": "ACTION"
                  },
                  "paramsSchema": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  },
                  "shape": {
                    "type": "string",
                    "enum": [
                      "BUTTON",
                      "TOGGLE",
                      "NUMBER",
                      "SELECT",
                      "MULTI"
                    ],
                    "default": "BUTTON"
                  },
                  "requiresApproval": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "name",
                  "label"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "commandId": {
                      "type": "string",
                      "example": "cmd_x1y2z3"
                    }
                  },
                  "required": [
                    "commandId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/commands/{commandId}": {
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Update a device's custom command",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          },
          {
            "schema": {
              "type": "string",
              "example": "cmd_x1y2z3"
            },
            "required": true,
            "name": "commandId",
            "in": "path",
            "example": "cmd_x1y2z3"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "pattern": "^[A-Z0-9_]+$"
                  },
                  "label": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "ACTION",
                      "QUERY"
                    ],
                    "default": "ACTION"
                  },
                  "paramsSchema": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  },
                  "shape": {
                    "type": "string",
                    "enum": [
                      "BUTTON",
                      "TOGGLE",
                      "NUMBER",
                      "SELECT",
                      "MULTI"
                    ],
                    "default": "BUTTON"
                  },
                  "requiresApproval": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Remove a device's custom command",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          },
          {
            "schema": {
              "type": "string",
              "example": "cmd_x1y2z3"
            },
            "required": true,
            "name": "commandId",
            "in": "path",
            "example": "cmd_x1y2z3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/command": {
      "post": {
        "tags": [
          "Device Control"
        ],
        "summary": "Send a command to a device",
        "description": "The general-purpose command endpoint - validates the command and its params against the device's catalog, checks the caller's DeviceGrant, then either publishes it over MQTT immediately or (for a command marked `requiresApproval`) creates a pending approval instead of executing it. An API key needs a DeviceGrant covering this device and this command name - see the Authentication & Access guide.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cmd": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "queuedAt": {
                    "type": "number"
                  }
                },
                "required": [
                  "cmd"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Command requires approval - pending an Owner/Admin decision, not yet sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "approvalRequired": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "approvalId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "approvalRequired",
                    "approvalId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/command/on": {
      "post": {
        "tags": [
          "Device Control"
        ],
        "summary": "Shorthand for sending the ON command",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/command/off": {
      "post": {
        "tags": [
          "Device Control"
        ],
        "summary": "Shorthand for sending the OFF command",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/revoke": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Revoke a device's credentials",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "deviceStatus": {
                      "type": "string",
                      "enum": [
                        "REVOKED"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "deviceStatus"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/credentials": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Generate MQTT credentials for a device",
        "description": "Firmware-facing credentials for connecting to the MQTT broker - not the same thing as an API key. The password is shown once and is not recoverable afterward; use \"Reveal credentials\" only re-shows what was already generated.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, save the password now, it will not be shown again in this form",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mqttUsername": {
                      "type": "string"
                    },
                    "mqttPassword": {
                      "type": "string"
                    },
                    "mqttHost": {
                      "type": "string"
                    },
                    "mqttPort": {
                      "type": "number"
                    },
                    "wsPort": {
                      "type": "number"
                    },
                    "configBlock": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "mqttUsername",
                    "mqttPassword",
                    "mqttHost",
                    "mqttPort",
                    "wsPort",
                    "configBlock"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/credentials/reveal": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Re-show a device's existing MQTT credentials",
        "description": "Step-up protected - requires re-confirming your account password. Every call is written to the device's audit log.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mqttUsername": {
                      "type": "string"
                    },
                    "mqttPassword": {
                      "type": "string"
                    },
                    "mqttHost": {
                      "type": "string"
                    },
                    "mqttPort": {
                      "type": "number"
                    },
                    "wsPort": {
                      "type": "number"
                    },
                    "configBlock": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "mqttUsername",
                    "mqttPassword",
                    "mqttHost",
                    "mqttPort",
                    "wsPort",
                    "configBlock"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict with current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/config": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get firmware config block",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "configBlock": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "configBlock",
                    "note"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/toggle": {
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Enable or disable a device",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "deviceStatus": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "enabled",
                    "deviceStatus"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/telemetry": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "Read a device's telemetry history",
        "description": "Time-series readings this device has reported what an AI agent needs to learn patterns rather than only react to the latest value.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "metric",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            },
            "required": false,
            "name": "since",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelemetryReading"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/telemetry/latest": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "Read the most recent value per telemetry metric",
        "description": "The quickest \"current state\" snapshot - one row per metric this device has ever reported, plus its relay state.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {},
                    "relayState": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "telemetry": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TelemetryReading"
                      }
                    }
                  },
                  "required": [
                    "relayState",
                    "telemetry"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/boards": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "List supported hardware boards",
        "description": "Static reference data no authentication required. Used to populate the \"board type\" picker when registering a device.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/apps": {
      "get": {
        "tags": [
          "Device Control"
        ],
        "summary": "List supported application/industry categories",
        "description": "Static reference data no authentication required.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/App"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/schedules": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "List a device's active schedules",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Schedules"
        ],
        "summary": "Create or replace a schedule slot",
        "description": "A device has up to 5 slots (0-4). `onCommand`/`offCommand` default to plain ON/OFF; any other command still fires reliably from the server at the scheduled time, but only the plain ON/OFF case also syncs to firmware for offline self-execution.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slot": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4
                  },
                  "onTs": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "offTs": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 7,
                    "default": ""
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": true
                  },
                  "onCommand": {
                    "type": "object",
                    "properties": {
                      "command": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "params": {}
                    },
                    "default": {
                      "command": "ON"
                    },
                    "required": [
                      "command"
                    ]
                  },
                  "offCommand": {
                    "type": "object",
                    "properties": {
                      "command": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "params": {}
                    },
                    "default": {
                      "command": "OFF"
                    },
                    "required": [
                      "command"
                    ]
                  }
                },
                "required": [
                  "slot",
                  "onTs",
                  "offTs"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted - see `message` for the specific reason and how to fix it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/schedules/context": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get the command choices available for scheduling",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "commands": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "commands"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/schedules/{slot}": {
      "put": {
        "tags": [
          "Schedules"
        ],
        "summary": "Update a schedule slot",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "example": 0
            },
            "required": false,
            "name": "slot",
            "in": "path",
            "example": 0
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "onTs": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "offTs": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 7
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "onCommand": {
                    "type": "object",
                    "properties": {
                      "command": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "params": {}
                    },
                    "required": [
                      "command"
                    ]
                  },
                  "offCommand": {
                    "type": "object",
                    "properties": {
                      "command": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "params": {}
                    },
                    "required": [
                      "command"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Schedules"
        ],
        "summary": "Cancel a schedule slot",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "example": 0
            },
            "required": false,
            "name": "slot",
            "in": "path",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/schedules/history": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "List completed/cancelled schedules",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/rules": {
      "get": {
        "tags": [
          "Rules"
        ],
        "summary": "List a device's automation rules",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rule"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Rules"
        ],
        "summary": "Create a rule",
        "description": "A rule condition can only reference a telemetry metric this device has already reported at least once. The action command is checked the same way an unattended schedule action is - commands marked `requiresApproval` cannot be used here.",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": true
                  },
                  "conditions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "metric": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "comparator": {
                          "type": "string",
                          "enum": [
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "==",
                            "!="
                          ]
                        },
                        "value": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      },
                      "required": [
                        "metric",
                        "comparator",
                        "value"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "action": {
                    "type": "object",
                    "properties": {
                      "command": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "params": {}
                    },
                    "required": [
                      "command"
                    ]
                  }
                },
                "required": [
                  "name",
                  "conditions",
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/rules/context": {
      "get": {
        "tags": [
          "Rules"
        ],
        "summary": "Get the metrics and commands available for building a rule",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metrics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "commands": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "metrics",
                    "commands"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/rules/{ruleId}": {
      "patch": {
        "tags": [
          "Rules"
        ],
        "summary": "Update a rule",
        "security": [
          {
            "sessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "dev_a1b2c3"
            },
            "required": true,
            "name": "deviceId",
            "in": "path",
            "example": "dev_a1b2c3"
          },
          {
            "schema": {
              "type": "string",
              "example": "rul_x1y2z3"
            },
            "required": true,
            "name": "ruleId",
            "in": "path",
            "example": "rul_x1y2z3"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "conditions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "metric": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "comparator": {
                          "type": "string",
                          "enum": [
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "==",
                            "!="
                          ]
                        },
                        "value": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      },
                      "required": [
                        "metric",
                        "comparator",
                        "value"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "action": {
                    "type": "object",
                    "properties": {
                      "command": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "params": {}
                    },
                    "required": [
                      "command"
[...]
